{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
     <div class="form-group">
        {{ form_row(registrationForm.email) }}
    </div>
     <div class="form-group">
        {{ form_row(registrationForm.plainPassword) }}
    </div>

        <button class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
