{% extends 'admin/admin-base.html.twig' %}



{% block title %}Admin Dashboard{% endblock %}

{% block body %}
	<div class="row">
 <div class="col-3">

</div>
<div class="col-6">
	<h1>Welcome to admin dashbaord</h1>
	</div>
 <div class="col-3">
 	
 	</div>
</div>
<div class="container">

	<div class="row">
		 <div class="col-6">
		 	<p class="text-primary">
 Responsive design
Responsive design: seravo.fi
Responsive design: example seravo.fi

The share of mobile devices is growing all the time so websites are required to work on devices of all sizes. Responsive design means that the layout of a website automatically adapts to the screen dimensions. The same site works across all devices automatically and no platform specific versions needs to be developed.
</p>
<p class="text-danger">
In general the website must work on a broad spectrum of devices and browsers. HTML5 is the best technology (not Flash) as HTML5 is universally supported. All that is needed is a web browser, and all smart devices from phones to TVs have one.

While at it, update the design to look stunning. People have grown accustomed to ever more good looking and easy to use websites and apps.
</p>

		</div>
		 <div class="col-6">
		 	<p class="text-secondary">
 Responsive design
Responsive design: seravo.fi
Responsive design: example seravo.fi

The share of mobile devices is growing all the time so websites are required to work on devices of all sizes. Responsive design means that the layout of a website automatically adapts to the screen dimensions. The same site works across all devices automatically and no platform specific versions needs to be developed.
</p>
<p class="text-success">
In general the website must work on a broad spectrum of devices and browsers. HTML5 is the best technology (not Flash) as HTML5 is universally supported. All that is needed is a web browser, and all smart devices from phones to TVs have one.

While at it, update the design to look stunning. People have grown accustomed to ever more good looking and easy to use websites and apps.
</p>
		</div>
	</div>
	</div>

{% endblock %}